<div class="row mt-5">
    <div class="col-lg-4 offset-lg-4 text-center">
        <h1 class="text-white">Resultado</h1>
        <div class="row">
            <div class="col-md-12">
                <div class="fondoItemResultado">
                    <p class="resultado">{{resultado}}</p>
                    <p class="numeroResultado">{{bmi}}</p>
                    <p class="interpretacion">{{interpretacion}}</p>
                    
                </div>
            </div>
        </div>
        <div class="row">
            <button routerLink="/inicio" class="btn btn-lg btn-block col-lg-12 bg-success text-white">Re-Calcular</button>
        </div>
    </div> 

</div>
